<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="username" value="api" />
    <add key="password" value="api" />
    <add key="status" value="2b341a1d-6fa1-4960-9c85-fef60d1bbcc4" />
    <add key="base" value="http://10.10.28.30" />
  </appSettings>
  
</configuration>
